img {
  border-radius: 10px;
  width: 320px;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.detail-item {
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
}

/* comment */

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.product-index {
  max-width: 1024px;
  margin: 100px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  position: relative;
  left: 6%;
}

.product-container {
  display: flex;
}
.Heading {
  display: block;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 18px;
}
ul {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}
.back {
  background-color: rgb(145, 233, 255);
  padding: 5px;
}
.btn {
  color: white;
  background-color: rgb(3, 121, 255);
  padding: 10px;
  border: none;
  cursor: pointer;
}
.drop-down {
  margin: 10px;
  width: 50%;
}
.details {
  text-align: center;
  padding: 10px;
  display: block;
  position: relative;
  bottom: 366px;
  left: 120%;
  font-size: 30px;
}
.amount {
  font-size: 15px;
  color: black;
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
  margin-left: 5px;
  color: white;
  border: none;
}
.d-flex {
  align-items: center;
}
.form {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 50px;
  border-top: 1px solid black;
  padding-top: 40px;
}
span {
  display: block;
  padding: 10px;
}
