<app-header></app-header>
<div class="product-index">
  <span *ngFor="let post of products" class="product-container">
    <span>
      <img
        src="{{ post.url }}"
        (click)="productDetails(post)"
        class="p-relative pl-40"
        alt=""
      />
      <div class="details">
        <h2 class="full-flex" style="position: relative">{{ post.name }}</h2>
        <p class="m-0 c-white p-relative full-flex">{{ post.price }}</p>
        <p class="m-0 c-white p-relative full-flex">{{ post.description }}</p>
        <div class="" #form >
          Amount {{ post.amount }}
          <button (click)="increseAmount(post)" class="btn amount">+</button>
          <button  (click)="decressAmount(post)" *ngIf="post.amount>0" class="btn amount">-</button>
        </div>
        <div class="d">
          <button
            class=""
            id="{{ post }}"
            type="button"
            (click)="addProduct(post)"
            class="btn"
          >
            Add To Card
          </button>
        </div>
      </div>
    </span>
  </span>
</div>
